* {
padding: 0;
margin: 0;
}

html {
box-sizing: border-box;
}

:root {
--electric-blue: #292AF9;
--off-white: #EFF2F8;
--light-purple: #6567A7;
--dark-blue: #090814; /* footer background */
--mid-gray: #DADBFF;
--eggplant-purple: #211A3F;
--large-heading: 700 2.3em "montserrat", sans-serif;
--primary-paragraph-text: 300 0.8em "Mulish", sans-serif;
--menu-text: 700 0.8em "Mulish", sans-serif;
--home-white-border: 1px solid #fafafa;
--home-blue-border: 1px solid var(--electric-blue);
--corner-radius: 8px;
}

body {
background: var(--off-white);
}

header {
display: flex;
flex-direction: row;
justify-content: space-around;
height: 75px;
}

.logotype  {
display: flex;
width: 10%;
align-items: center;
margin-top: 5px;
}

.logotype h1 a {
font: 900 0.7em "montserrat", sans-serif;
color: var(--electric-blue);
text-decoration: none;
}

nav {
display: flex;
width: 40%;
height: 40px;
border: 1px solid var(--electric-blue);
border-radius: var(--corner-radius);
align-items: center;
justify-content: center;
margin-top: 25px;
}

nav:last-of-type {
width: 13%;
border: none;
}

nav menu {
align-items: center;
justify-content: center;
}

nav:first-of-type menu li {
display: inline;
list-style-type: none;
padding-right: 25px;
}

nav menu li a {
font: var(--menu-text);
color: var(--electric-blue);
text-decoration: none;
}

nav:last-of-type menu li {
display: inline-block;
border: 1px solid var(--electric-blue);
border-radius: var(--corner-radius);
width: 75px;
height: 30px;
text-align: center;
line-height: 1.6em;
}

nav:last-of-type menu li:first-of-type {
margin-right: 10px;
}

#home-container main section h1 {
font: 800 3em "montserrat", sans-serif;
color: var(--electric-blue);
text-align: center;
}

#home-container main section:first-of-type div {
height: 150px;
margin-top: 125px;
width: 100%;
text-align: center;
}

#home-container main section:first-of-type div ul {
width: 28%;
margin: 25px auto 0 auto;
display: inline-block;
}

#home-container main section:first-of-type div ul li:first-child {
margin: 0 15px 0 0;
}

#home-container main section:first-of-type div ul li {
display: inline;
list-style-type: none;
border: var(--home-blue-border);
border-radius: var(--corner-radius);
padding: 10px 15px;
}

#home-container main section:first-of-type div ul li a {
font: 900 0.8em "Mulish", sans-serif;
color: var(--electric-blue);
text-decoration: none;
}

#home-container main section:first-of-type div ul li:last-of-type {
background: var(--electric-blue);
}

#home-container main section:first-of-type div ul li:last-of-type a {
color: #fafafa;
}

#home-container main section:first-of-type {
height: 400px;
}

#home-container main section:first-of-type p {
font: var(--menu-text);
color: var(--electric-blue);
text-align: center;
margin: 10px 0;
}

#home-container main section:nth-child(2) {
padding: 75px 0 0 0;
background: var(--electric-blue) url('../images/top_pattern1.png') repeat-x;
width: 100%;
height: 350px;
}

#home-container main section:nth-child(2) h2 {
font: var(--large-heading);
color: #fafafa;
text-align: center;
}

#home-container main section:nth-child(2) p {
font: var(--menu-text);
color: #fafafa;
text-align: justify;
line-height: 2em;
margin: 10px auto 0 auto;
width: 40%;
}

#home-container main section:nth-child(2) a {
display: block;
margin: 35px auto 0 auto;
text-align: center;
font: 400 1.5em "Mulish", sans-serif;
color: #fafafa;
border: 1px solid #fafafa;
border-radius: var(--corner-radius);
text-decoration: none;
line-height: 2em;
width: 21.5%;
height: 50px;
}

#home-container .row-container {
display: flex;
flex-direction: row;
justify-content: center;
width: 75%;
margin: 25px auto 0 auto;
}

#home-container .row-item {
width: 40%;
}

#home-container .row-item:first-of-type {
margin-right: 25px;
}

#home-container .row-item p {
margin-bottom: 75px;
}

#home-container main section:nth-child(3) {
padding: 50px 0 0 0;
background: var(--light-purple);
height: 250px;
}

#home-container main section:nth-child(3) h2 {
font: var(--large-heading);
color: var(--eggplant-purple);
text-align: center;
}

#home-container main section:nth-child(3) p {
font: var(--menu-text);
color: var(--eggplant-purple);
text-align: justify;
line-height: 1.4em;
margin: 10px auto 0 auto;
}

#home-container main section:nth-child(4) {
padding: 105px 0 0 0;
position: relative;
top: 0;
background:
            url('../images/bottom_pattern.png') repeat,
            var(--eggplant-purple);
background-size: contain;
width: 100%;
height: 350px;
text-align: center;
}

#home-container main section:nth-child(4)::before {
content: "";
position: absolute;
left: 10%;
top: 0px;
width: 65%;
height: 100%;
background: var(--eggplant-purple) url('../images/top-image.png') center center no-repeat;
background-size: cover;
clip-path: circle(40% at 60% 75%);
}

#home-container main section:nth-child(4) h2 {
font: var(--large-heading);
color: #fafafa;
text-align: center;
position: relative;
margin-top: 40px;
}

#home-container main section:nth-child(4) p {
font: var(--menu-text);
color: #6567A7;
text-align: justify;
line-height: 2em;
margin: 10px auto 0 auto;
width: 47.5%;
position: relative;
}

#home-container main section:nth-child(4) a {
display: block;
margin: 25px auto 0 auto;
text-align: center;
font: 400 1.5em "Mulish", sans-serif;
color: var(--electric-blue);
border: var(--home-blue-border);
border-radius: var(--corner-radius);
text-decoration: none;
line-height: 2em;
width: 21.5%;
height: 50px;
position: relative;
}

#home-container main section:nth-child(4) div:last-of-type {
background: var(--electric-blue);
width: 100%;
height: 30px;
position: relative;
top: 80px;
}

#home-container main section:nth-child(4) div:last-of-type span {
font: var(--menu-text);
color: var(--off-white);
line-height: 2em;
}

#home-container footer {
display: flex;
flex-direction: row;
justify-content: space-evenly;
padding: 75px 0 0 0;
background: var(--dark-blue);
height: 350px;
}

#home-container footer #newsletter {
width: 50%;
height: 50vh;
}

#home-container footer #newsletter form {
width: 65%;
height: auto;
margin: 0 auto;
}

#home-container footer #newsletter h4 {
width: 100%;
font: var(--large-heading);
font-size: 1.4em;
color: var(--off-white);
text-align: center;
}

#home-container footer #newsletter p {
width: 100%;
height: auto;
font: var(--primary-paragraph-text);
font-weight: 500;
color: var(--off-white);
margin: 5px 0;
text-align: center;
}

#home-container footer #newsletter input::placeholder
{
padding-left: 5px;
}

#home-container footer #newsletter input {
border: 1px solid #fff;
border-radius: var(--corner-radius);
background: transparent;
color: #fff;
width: 100%;
height: 35px;
margin: 10px 0;
}

#home-container footer #newsletter input[type='submit'] {
background: var(--off-white);
color: var(--dark-blue);
font: var(--menu-text);
position: relative;
top: -55px;
left: 330px;
width: 35%;
cursor: pointer;
}

#home-container footer #company {
width: 50%;
height: auto;
}

#home-container footer #company h4 {
width: 100%;
font: var(--large-heading);
font-size: 1em;
color: var(--off-white);
text-align: left;
margin-bottom: 15px;
}

#home-container footer #company menu li {
list-style-type: none;
padding-bottom: 10px;
}

#home-container footer #company menu li a {
font: var(--primary-paragraph-text);
font-weight: 500;
color: #fff;
text-decoration: none;
}

/* Browse jobs */


#jobs-container {
width: 65%;
margin: 0 auto;
}

#jobs-container main #top h1 {
font: 800 2.3em "montserrat", sans-serif;
color: var(--electric-blue);
text-align: center;
}

#jobs-container #top {
display: block;
width: 100%;
height: 150px;
margin: 85px auto 0 auto;
}

#jobs-container .search {
width: 65%;
height: 40px;
margin: 15px auto 0 auto;
}

#jobs-container .search input[type='text']::placeholder
{
padding-left: 5px;
font: var(--primary-paragraph-text);
font-size: 0.9em;
font-weight: 600;
color: var(--electric-blue);
}

#jobs-container .search input[type='text'] {
border: 1px solid var(--electric-blue);
border-radius: var(--corner-radius);
background: transparent;
color: #fff;
width: 100%;
height: 40px;
margin: 10px 0;
}

#jobs-container .search input[type='submit'] {
background: var(--electric-blue);
color: var(--off-white);
font: var(--menu-text);
position: relative;
top: -51px;
left: 461px;
width: 30%;
height: 40px;
cursor: pointer;
border-radius: var(--corner-radius);
border: none;
}

#jobs-container main section h2 {
font: var(--large-heading);
font-size: 1.7em;
color: var(--electric-blue);
text-align: left;
padding: 10px 0;
border-bottom: 1px solid var(--mid-gray);
}

#jobs-container main article {
width: 100%;
margin: 25px 0;
}

#jobs-container main article:last-of-type {
padding-bottom: 35px;
}

#jobs-container main article .accordion-panel {
width: 100%;
height: 75px;
}

#jobs-container main article .accordion-panel header {
width: 100%;
height: 75px;
border-bottom: 1px solid var(--mid-gray);
}

#jobs-container main article .accordion-panel header div:nth-child(odd){
width: 100%;
}

#jobs-container main article .accordion-panel header div:nth-child(even) {
width: 5%;
height: auto;
line-height: 2em !important;
cursor: pointer;
font: var(--large-heading);
font-weight: 300;
color: var(--electric-blue);
text-align: center;
}

#jobs-container main article .accordion-panel header h3 {
font: var(--large-heading);
font-size: 1.2em;
color: var(--electric-blue);
text-align: left;
padding: 3px 0;
}

#jobs-container main article .accordion-panel header p {
width: 100%;
height: auto;
font: var(--primary-paragraph-text);
font-weight: 500;
color: var(--light-purple);
text-align: left;
padding: 0 0 10px 0;
}

#jobs-container main article .listing-content {
display: none;
}

#jobs-container main article .listing-content  h4 {
font: var(--large-heading);
font-size: 1.2em;
font-weight: 700;
color: var(--electric-blue);
text-align: left;
padding: 3px 0;
}

#jobs-container main article .listing-content p {
font: var(--primary-paragraph-text);
font-weight: 500;
color: var(--electric-blue);
line-height: 2em;
}

/*

#jobs-container main article .listing-content .listing-header h3 {

}

#jobs-container main article .listing-content .listing-header p:nth-child(1) {

}

#jobs-container main article .listing-content .listing-header p:nth-child(2) {

}

#jobs-container main article .listing-content .listing-header div {

}


#jobs-container main article .listing-content ul {

}

#jobs-container main article .listing-content ul:first-child li {
display: inline-block;
font: var(--primary-paragraph-text);
font-weight: 500;
color: var(--electric-blue);
}

#jobs-container main article .listing-content ul:nth-last-child li {
display: inline;
list-style-type: none;
font: var(--primary-paragraph-text);
font-weight: 500;
color: var(--electric-blue);


}
*/


/* Employers */


#employers-container {
width: 65%;
margin: 5% auto 0 auto;
}

#employers-container main section h1 {
font: 800 2.3em "montserrat", sans-serif;
color: var(--electric-blue);
text-align: center;
padding-bottom: 35px;
}

#employers-container main section h3 {
font: var(--large-heading);
font-size: 1.1em;
color: var(--electric-blue);
text-align: left;
margin: 15px 0;
}

#employers-container main section h3:last-of-type {
margin-top: 35px;
}

#employers-container main section p {
font: var(--primary-paragraph-text);
font-weight: 600;
color: var(--electric-blue);
line-height: 2em;
}

#employers-container main section ul {
width: 100%;
margin: 25px 0;
}

#employers-container main section ul li {
display: inline-block;
list-style-type: circle;
margin: 5px 0;
font: var(--primary-paragraph-text);
font-weight: 600;
color: var(--electric-blue);
width: 100%;
}

#employers-container main section div {
text-align: center;
margin: 0 auto;
border: var(--home-blue-border);
border-radius: var(--corner-radius);
width: 25%;
height: 45px;
}

#employers-container main section div a {
font: 400 0.9em "Mulish", sans-serif;
color: var(--electric-blue);
text-decoration: none;
line-height: 3em;
}

/* Top careers */

#top-careers-container {
width: 65%;
margin: 5% auto 0 auto;
}

#top-careers-container h1 {
font: 800 2.3em "montserrat", sans-serif;
color: var(--electric-blue);
text-align: center;
}

#top-careers-container main section p:first-of-type {
font: var(--primary-paragraph-text);
font-weight: 600;
color: var(--electric-blue);
line-height: 2em;
text-align: center;
border-bottom: 1px solid var(--mid-gray);
padding-bottom: 10px;;
}

#top-careers-container p {
font: var(--primary-paragraph-text);
font-weight: 600;
color: var(--electric-blue);
line-height: 2em;
text-align: center;
border-bottom: none;
}

#top-careers-container main section h3 {
font: var(--large-heading);
font-size: 1.1em;
color: var(--electric-blue);
text-align: left;
margin: 15px 0;
}

#top-careers-container main section .accordion-panel.first {
display: none;
}

#top-careers-container main section .accordion-panel {
width: 100%;
height: 75px;
}

#top-careers-container main section .accordion-panel header {
width: 100%;
height: 75px;
border-bottom: 1px solid var(--mid-gray);
}

#top-careers-container main .accordion-panel header h2 {
width: 100%;
font: var(--large-heading);
font-size: 1.2em;
font-weight: 700;
color: var(--electric-blue);
text-align: left;
padding: 25px 0;
}

#top-careers-container main .accordion-panel header div {
width: 5%;
height: auto;
line-height: 2em !important;
cursor: pointer;
font: var(--large-heading);
font-weight: 300;
color: var(--electric-blue);
text-align: center;
padding: 5px 0;
}

#top-careers-container main section:last-of-type {
padding-bottom: 100px;
}

#top-careers-container main section:last-of-type h2 {
font: var(--large-heading);
font-size: 1.7em;
color: var(--electric-blue);
text-align: left;
padding: 10px 0;
margin: 30px 0 0 0;
}

#top-careers-container main section:last-of-type p {
font: var(--primary-paragraph-text);
font-weight: 600;
color: var(--electric-blue);
line-height: 2em;
text-align: left;
border-bottom: none;
}

#top-careers-container main section:last-of-type ul {
width: 100%;
margin: 25px 0;
}

#top-careers-container main section:last-of-type ul li {
display: inline;
margin: 5px 35px 0 0;
padding: 10px 15px;
border: var(--home-blue-border);
border-radius: var(--corner-radius);
width: 100%;
}

#top-careers-container main section:last-of-type ul li a {
font: var(--primary-paragraph-text);
font-weight: 600;
color: var(--electric-blue);
font: 700 0.8em "Mulish", sans-serif;
text-decoration: none;
}

/* careers */

#career-container {
width: 65%;
margin: 5% auto 0 auto;
}

.top-menu {
width: 100%;
}

.top-menu .logotype {
margin-left: 50px !important;
width: 90%;
}

.top-menu .logotype h1 a {
color: var(--electric-blue);
}

.top-menu menu {
width: 10%;
border: 1px solid var(--electric-blue);
border-radius: var(--corner-radius);
margin: 30px 75px auto 0 !important;
padding: 8px;
}

.top-menu menu li  {
list-style-type: none;
text-align: center;
}

.top-menu menu li a {
font: var(--primary-paragraph-text);
font-weight: 600;
color: var(--electric-blue);
font: 700 0.8em "Mulish", sans-serif;
text-decoration: none;
}

#career-container h1 {
font: 500 2em "montserrat", sans-serif;
color: var(--off-white);
text-align: center;
}

#career-container #content {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
width: 100%;
color: var(--off-white);
margin: 25px auto 0 auto;
padding-bottom: 100px;
}

#career-container #content img {
display: block;
border-radius: 25px;
margin: 0 auto 35px auto;
max-width: 100%;
height: 100%;
}

#career-container #content h3 {
width: 100%;
font: var(--large-heading);
font-size: 1.2em;
font-weight: 700;
color: var(--off-white);
padding: 25px 0;
margin-left: 50px;
}

#career-container .job-card {
border: var(--home-white-border);
border-radius: var(--corner-radius);
padding: 20px;
width: 25%;
margin: 0 25px 25px 0;
}

#career-container .job-card ul li  {
display: inline-block;
list-style-type: none;
text-align: left;
font: var(--primary-paragraph-text);
font-weight: 600;
color: var(--off-white);
font: 700 0.9em "Mulish", sans-serif;
margin: 5px 0;
}

#career-container .job-card h4 {
width: 100%;
font: var(--large-heading);
font-size: 1em;
color: var(--off-white);
text-align: left;
margin-bottom: 15px;
}

#career-container .job-card span a {
font: var(--primary-paragraph-text);
font-weight: 600;
color: var(--off-white);
font: 700 0.8em "Mulish", sans-serif;
text-decoration: none;
display: inline-block;
margin: 15px 35px 0 0;
padding: 7px 25px;
border: var(--home-white-border);
border-radius: var(--corner-radius);
}

/* About */

#about-container {
width: 65%;
margin: 5% auto 0 auto;
}

#about-container h1 {
font: 800 2.3em "montserrat", sans-serif;
color: var(--electric-blue);
text-align: center;
}

#about-container main section h4 {
font: var(--primary-paragraph-text);
font-weight: 600;
color: var(--electric-blue);
line-height: 2em;
text-align: left;
border-bottom: none;
}

#about-container main section:nth-child(1) p {
font: var(--primary-paragraph-text);
font-weight: 600;
color: var(--electric-blue);
line-height: 2em;
text-align: center;
border-bottom: none;
}

#about-container main .accordion-panel p {
text-align: justify;
border: 1px solid red;
display: none;
}

#about-container main section:nth-child(2) p:first-of-type {
font: var(--primary-paragraph-text);
font-weight: 600;
color: var(--electric-blue);
line-height: 2em;
text-align: center;
border-bottom: none;
}

#about-container .row-container {
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
height: auto;
margin: 25px auto 0 auto;
}

.row-container .team-member-details {
width: 25%;
height: auto;
text-align: center;
font: var(--menu-text);
color: var(--electric-blue);
margin-right: 20px;
}

.row-container .team-member-details ul {
width: 100%;
height: 20px;
}

.row-container .team-member-details ul li {
list-style-type: none;
font: var(--menu-text);
font-size: 1em;
font-weight: 900;
width: 100%;
height: auto;
}

.row-container .team-member-details ul li:nth-child(even) {
font-weight: 500;
}

#bottom p {
font: var(--primary-paragraph-text);
font-size: 0.9em;
font-weight: 500;
line-height: 2em;
color: var(--electric-blue);
width: 100%;
margin: 0 auto;
}

#bottom p:nth-child(n+3) {
margin-top: 15px;
}

#about-container main section .accordion-panel {
width: 100%;
height: 75px;
}

#about-container main section .accordion-panel header {
width: 100%;
height: 75px;
border-bottom: 1px solid var(--mid-gray);
}

#about-container main section h2 {
width: 100%;
font: var(--large-heading);
font-size: 1.2em;
font-weight: 700;
color: var(--electric-blue);
text-align: left;
padding: 25px 0;
}

#about-container main section:last-of-type h2 {
font-size: 1.8em;
text-align: center;
padding: 0;
margin-top: 75px;
}

#about-container main section:last-of-type p {
margin-bottom: 15px;
}

#about-container main .accordion-panel header div {
width: 5%;
height: auto;
line-height: 2em !important;
cursor: pointer;
font: var(--large-heading);
font-weight: 300;
color: var(--electric-blue);
text-align: center;
padding: 5px 0;
}

#about-container main section:last-of-type {
padding-bottom: 100px;
}

#about-container #bottom #bottom-list  {
margin-top: 40px;
text-align: left;
}

#about-container #bottom #bottom-list li {
display: inline;
padding: 15px 25px;
border: var(--home-blue-border);
border-radius: var(--corner-radius);
width: 100%;
}

#about-container #bottom #bottom-list li:last-of-type {
margin-left: 15px;
}


#about-container #bottom #bottom-list li a {
font: var(--primary-paragraph-text);
font-weight: 600;
color: var(--electric-blue);
font: 700 0.8em "Mulish", sans-serif;
text-decoration: none;
}

#about-container #bottom p:last-of-type {
text-align: left;
font-weight: 500;
}

/* register */

.form-container {
width: 55%;
margin: 2% auto 0 auto;
}

.form-container h2 {
font: 800 2em "montserrat", sans-serif;
color: var(--electric-blue);
text-align: center;
}

.form-container form {
display: block;
width: 55%;
margin: 35px auto 0 auto;
padding: 25px 35px;
border: 1px solid var(--electric-blue);
border-radius: var(--corner-radius);
}

.form-container form h3 {
width: 100%;
margin: 15px auto 25px auto;
font: var(--large-heading);
font-size: 1.2em;
font-weight: 700;
color: var(--electric-blue);
}

.form-container form label {
display: block;
width: 100%;
margin: 10px 0 5px 0;
text-align: left;
font: var(--menu-text);
color: var(--electric-blue);
}

.form-container form input {
width: 100%;
height: 35px;
border-radius: var(--corner-radius);
border: var(--home-blue-border);
margin: 0 auto 10px auto;
outline: transparent;
}

.form-container form span {
display: inline-block;
width: 100%;
margin: 7px auto 15px auto;
font: var(--primary-paragraph-text);
font-weight: 600;
color: var(--electric-blue);
text-align: left;
}

.form-container form span:last-of-type {
text-align: center;
margin-top: 15px;
}

.form-container form span a {
width: 65%;
margin: 5% auto 0 auto;
font: var(--primary-paragraph-text);
font-weight: 600;
color: var(--electric-blue);
font: 700 0.9em "Mulish", sans-serif;
}

.form-container form input[type='submit'] {
cursor: pointer;
color: var(--electric-blue);
height: 40px;
}


/* Add profile photo */


.photo-container{
width: 55%;
margin: 2% auto 0 auto;
}

.photo-container h2 {
font: 800 2em "montserrat", sans-serif;
color: var(--electric-blue);
text-align: center;
margin: 15px auto;
}

.photo-container form {
display: block;
width: 50%;
margin: 35px auto 0 auto;
padding: 25px 35px;
border: 1px solid var(--electric-blue);
border-radius: var(--corner-radius);
}

.photo-container form input[type='file'] {
width: 100%;
height: 40px;
cursor: pointer;
text-indent: -1000000px;
}

.photo-container form label {
font: var(--menu-text);
color: var(--electric-blue);
text-align: center;
position: relative;
top: 32.5px;
left: 160px;
cursor: pointer;
width: 35%;
}

.photo-container form h3 {
width: 100%;
margin: 10px auto 0 auto;
padding: 0;
font: var(--large-heading);
font-size: 1.2em;
font-weight: 700;
color: var(--electric-blue);
}

.photo-container form input {
width: 100%;
height: 35px;
border-radius: var(--corner-radius);
border: var(--home-blue-border);
margin: 0 auto 10px auto;
outline: transparent;
}

.photo-container form input[type='submit'] {
cursor: pointer;
color: var(--electric-blue);
height: 40px;
}


/* sign in  */













@media(max-width: 1440px) {
    #home-container main section div {
        width: 100% !important;
    }

    #home-container main section div ul {
        width: 100% !important;
    }

    nav:first-of-type {
    width: 65% !important;
    }

    nav:last-of-type {
      width: 15%;
    }

    #home-container main section:nth-child(2) p {
    width: 50%;
    }

    #home-container main section:nth-child(2) a {
    width: 40%;
    }

    #home-container main section:nth-child(3) {
    height: 350px;
    }

    #home-container .row-container {
    flex-direction: column;
    width: 65% !important;
    }

    #home-container main section:nth-child(3) p {
    width: 100% !important;
    text-align: left;
    }

    #home-container .row-item p {
    margin-bottom: 15px !important;
    width: 100% !important;
    }

    #home-container .row-item {
    width: 100% !important;
    margin: 0 auto;
    }

    #home-container main section:nth-child(4) a {
    width: 30% !important;
    }

    #home-container main section:nth-child(4) p {
    width: 60%;
    }



}

@media(max-width: 1180px) {
    nav:first-of-type,
    nav:last-of-type {
        display: none;
    }

    #home-container main section:nth-child(2) p {
    width: 60%;
    }

    #home-container main section:nth-child(2) a {
    width: 50%;
    }

    #home-container main section:nth-child(3) {
    width: 100% !important;
    }

    #home-container main section:nth-child(3) h2,
    #home-container main section:nth-child(4) h2  {
    font: 700 1.8em "montserrat", sans-serif !important;
    }

    #home-container main section:nth-child(3) p {
    width: 90%;
    }

    #home-container main section:nth-child(4) a {
    width: 50% !important;
    }

    #home-container footer {
    flex-direction: column;
    }

    #home-container footer #newsletter {
    width: 100%;
    text-align: center;
    }

    #home-container footer #company {
    width: 80%;
    margin: 0 auto;
    }

    footer #newsletter form {
    width: 75%;
    }

    footer #newsletter p {
    width: 75%;
    height: auto;
    font: var(--primary-paragraph-text);
    font-weight: 500;
    color: var(--off-white);
    margin: 10px auto;
    text-align: left;
    }

    #home-container footer #newsletter input {
    border: 1px solid #fff;
    border-radius: var(--corner-radius);
    background: transparent;
    color: #fff;
    width: 65%;
    height: 35px;
    margin: 10px 0;
    }

    #home-container footer #newsletter input[type='submit'] {
    position: sticky;
    top: -55px;
    left: 0;
    width: 65%;
    cursor: pointer;
    }
}


@media(max-width: 600px) {
    #home-container main section h1 {
    font: 800 2.5em "montserrat", sans-serif !important;
    }

    #home-container main section p {
    font: 700 0.8em "Mulish", sans-serif !important;
    width: 100%;
    }

    nav:last-of-type {
        display: none;
    }

    #home-container main section:nth-child(2) p {
    width: 80%;
    line-height: 2.7em !important;
    }

    #home-container main section:nth-child(2) a {
    width: 65%;
    }

    #home-container .row-container {
    flex-direction: column;
    width: 85% !important;
    }

    #home-container main section:nth-child(4) h2  {
    font: 700 1.4em "montserrat", sans-serif !important;
    }

    #home-container main section:nth-child(4) p {
    width: 80%;
    line-height: 2em !important;
    }

    #home-container main section:nth-child(4) a {
    width: 75% !important;
    }



}
